<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <input type="text" placeholder="請輸入關鍵字">
      <img class="searchImg" src="/img/search.png" style="width:23px;">
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li><a href="/login"><img src="/img/login.png" style="width:15px;">
          會員登入</a></li>
        <li><a href="/manage"><img src="/img/manage.png" style="width:15px;">
          新增商品</a></li> 
        <li><a href="/favorite" style="border-right: none;"><img src="/img/favorite.png" style="width:15px;">
          我的最愛</a></li> 
      </ul>
    </div>
    <div class="clear"></div>
    <div class="content">
      <ul class="productType">
        <li><a href="#">上衣<img src="/img/shirt.png"></a></li>
        <li><a href="#">褲子<img src="/img/pants.png"></a></li>
        <li><a href="#">裙子<img src="/img/skirt.png"></a></li>
        <li><a href="#">外套<img src="/img/coat.png"></a></li>
        <li><a href="#">鞋子<img src="/img/shoes.png"></a></li>
      </ul>
      <ul class="productList">
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
          <!-- 按下後變heart2.png --> 
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
        <li>
          <a href="/detail"><img src="https://s1.lativ.com.tw/i/43807/43807_M_100_n.jpg"></a>
          <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
          <p>長袖寬版針織衫-女</p>
          <p>NT$590</p>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </body>
</html>
