<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li><a href="/login"><img src="/img/login.png" style="width:15px;">
          會員登入</a></li>
        <li><a href="/favorite" style="border-right: none;"><img src="/img/favorite.png" style="width:15px;">
          我的最愛</a></li> 
      </ul>
    </div>
    <div class="clear"></div>
    <div class="content">
      <div class="login">
        <h2><%= title %></h2>
        <form action="">
            請輸入帳號:<input type="text" name="id"><br>
            請輸入密碼:<input type="password" name="password"><br>           
            <input type="submit" value="登入"><br>
            還沒有帳號嗎？立即<a href="/signup">點我註冊</a>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </body>
</html>
