<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body class="loginBody">
    <div class="header" style="background-color: transparent;">
      <a href="/"><h1>Lativ</h1></a>
      <ul class="menu">
        <li><a href="/"><img src="/img/home2.png" style="width:15px;">
          首頁</a></li>
        <li class="menuLogin"><a href="/login" style="border-right: none;padding-right: 5px;">
          <img src="/img/login2.png" style="width:15px;">登入</a>/
          <a href="/signup" style="border-right: none;padding-left: 5px;">註冊</a></li>
      </ul>      
    </div>
    <div class="clear"></div>
    <div class="content">
      <div class="login">
        <h2><%= title %></h2>
        <div>
            請輸入帳號:<input type="text" name="id" class="id"><br>
            請輸入密碼:<input type="password" name="password" class="password"><br>           
            <input type="button" class="send" value="登入"><br>
            還沒有帳號嗎？立即<a href="/signup">點我註冊</a>
        </div>
      </div>
    </div>

    <script>
      document.querySelector('.send').addEventListener('click', login, false);

      function login(){
        var idInput = document.querySelector('.id').value;
        var pswInput = document.querySelector('.password').value;
        var account = {};
        account.id = idInput;
        account.password = pswInput;

        let xhr = new XMLHttpRequest();
        xhr.open('post', '/login', true);
        xhr.setRequestHeader('Content-type','application/json');
        var data = JSON.stringify(account);
        xhr.send(data);
        xhr.onload = function(){
          var callbackData = JSON.parse(xhr.responseText);

          if(callbackData.message == "Wrong password"){
            alert("密碼輸入錯誤，兩秒後重新載入登入畫面");          
            setTimeout(window.location.reload(), 2000);
          }else if(callbackData.message == "Blank field"){
            alert("還有欄位尚未填寫喔！");
          }else if(callbackData.message == "Success"){
            window.location.replace('/');
          }
        }

      }
    </script>
  </body>
</html>
