<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <input type="hidden" class="islogin" name="islogin" value="<%- islogin %>">
      <input type="hidden" class="ismanager" name="ismanager" value="<%- ismanager %>">
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li class="menuManage"><a href="/manage">
          <img src="/img/manage.png" style="width:15px;">新增商品</a></li> 
        <li class="menuLogin"><a href="/login" style="border-right: none;padding-right: 5px;">
          <img src="/img/login.png" style="width:15px;">登入</a>/
          <a href="/signup" style="border-right: none;padding-left: 5px;">註冊</a></li> 
        <li class="menuFavorite"><a href="/favorite">
          <img src="/img/favorite.png" style="width:15px;">我的最愛</a></li> 
        <li class="menuLogout"><a href="/logout" style="border-right: none;">
          <img src="/img/login.png" style="width:15px;">登出</a></li>
      </ul>      
    </div>
    <div class="clear"></div>
    <div class="content">
        <div class="manage">
            <h2><%= title %></h2>
            <form action="/manage" method="POST">
                商品名稱:<input type="text" name="name"><br>
                商品價格:<input type="text" name="price"><br>           
                商品類別:
                <select name="type">
                    <option value="0" selected="true">請選擇</option>
                    <option value="shirt">上衣</option>
                    <option value="pants">褲子</option>
                    <option value="skirt">裙子</option>
                    <option value="coat">外套</option>
                    <option value="shoes">鞋子</option>
                </select><br>   
                商品圖片1(220*284):  
                <input type="text" name="image" style="width: 400px;"><br>   
                商品圖片2(500*500):
                <input type="text" name="image2" style="width: 400px;"><br> 
                <input type="submit" value="新增"><br>
            </form>
        </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function() {
    console.log($(".islogin").val());
    if($(".islogin").val() == "true"){
      $(".menuLogin").hide();
      $(".menuFavorite").show();
      $(".menuLogout").show();
    }else{
      $(".menuLogout").hide();
      $(".menuFavorite").hide();
      $(".menuLogin").show();
    }
    if($(".ismanager").val() == "true"){
      $(".menuManage").show();
    }else{
      $(".menuManage").hide();
    }
  });
</script>